.header--main {
    background-color: burlywood;
    padding: 1em 0 1em 0;
}

.header .nav__header {
    display: flex;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav__header li {
    text-decoration: none;
    margin: .5em 1em .5em 1em;
}

.nav__internal {
    display: flex;
    flex: auto;
}

.nav__social {
    display: flex;
    flex: auto;
    justify-content: flex-end;
}

.main {
    background-image: url("https://images5.alphacoders.com/529/529469.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.actor {
    display: flex;
}

.header--large {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: rgb(115, 149, 211);
    padding: .2em;
}

.actor__leftside {
    flex: auto;
}

.actor__rightside {
    flex: auto;
}

.actor__section {
    min-height: 30%;
    margin: .5em .5em .5em 0;
}

.actor__fact {
    border: .2em solid rgb(115, 149, 211);
    min-height: 40%;
    margin: .5em 0 .5em 0;
    padding: 4px;
}

.actor__quote {
    border: .2em solid rgb(115, 149, 211);
    min-height: 40%;
    margin: .5em 0 .5em 0;
    padding: 4px;
}

.footer--main {
    background-color: burlywood;
    padding: .5em 0 .5em 0;
}

.nav__footer {
    display: flex;
}

.nav__footer .nav__internal {
    display: flex;
    flex: auto;
}

.nav__contact {
    display: flex;
    flex: auto;
    justify-content: flex-end;
}

.nav__footer li {
    margin: 0 1em 0 1em;
}